@use "variable";

header {
  width: 100%;
  padding: 4rem 1rem 2rem;
  .select-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .price-select {
      margin-top: 2rem;
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .toggle {
        display: flex;
        justify-content: space-between;
        background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        border-radius: 2rem;
        width: 4.5rem;
        padding: 0.2rem 0.3rem;

        button {
          border: none;
          outline: none;
          cursor: pointer;
          background: variable.$vlgblue;
          border-radius: 50%;
          width: 2rem;
          height: 2rem;
        }

        #monthly {
          display: flex;
        }
        #annually {
          position: inherit;
          right: 0;
          display: none;
        }
      }

      .toggle:hover {
        cursor: pointer;
        background: hsl(236, 72%, 79%);
      }
    }
  }
}
